pymongo
spacy
sentence-transformers
tensorflow
opencv-python
matplotlib
pillow
scikit-learn
torch
ftfy
regex
easyocr
thefuzz
fastapi
uvicorn
python-multipart
python-dotenv
git+https://github.com/openai/CLIP.git
